<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>SampleApp</title>
=======
    <title>ToyApp</title>
>>>>>>> c70dbb38167e58e04e031c74c46fe83c0c96be76
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
